html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #E3EFF3;
  font-family: sans-serif;
  height: 100%;
  padding-bottom: 50px; }

.main {
  max-width: 1024px;
  margin: 0 auto; }
  .main .bmi-header {
    background-color: #424242;
    color: #FFD366;
    padding: 2rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main .bmi-header .col {
      width: 270px; }
      .main .bmi-header .col .bmi-image {
        margin-top: 1rem;
        margin-left: 4rem; }
      .main .bmi-header .col label {
        display: block;
        margin: 0.5rem 0; }
      .main .bmi-header .col input {
        border: 2px solid #FFD366;
        border-radius: 5px;
        width: 200px;
        height: 25px;
        background: #646464;
        font-size: 1rem;
        color: white; }
      .main .bmi-header .col .height-group input {
        width: 90px; }
      .main .bmi-header .col .btn-get-bmi {
        margin-top: 1.2rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #FFD366;
        color: #424242;
        font-weight: bold;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 1px solid #E3EFF3;
        text-transform: uppercase; }
        .main .bmi-header .col .btn-get-bmi:hover {
          border: 3px solid #E3EFF3; }
        .main .bmi-header .col .btn-get-bmi:focus {
          background-color: #fc7c32;
          outline: 0; }
      .main .bmi-header .col .bmi-result {
        margin-left: 2rem; }
      .main .bmi-header .col .warningText {
        height: 15px;
        margin-top: 8px; }

.result-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #E3EFF3; }
  .result-block .circle {
    margin-top: 1.2rem;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 1.5rem;
    border: 5px solid;
    color: #E3EFF3;
    background-color: #424242;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .result-block .circle img {
      position: absolute;
      background-color: #E3EFF3;
      border-radius: 100%;
      top: 70px;
      left: 77px;
      width: 15px;
      height: 15px;
      padding: 5px;
      border: 1.5px solid #424242; }
    .result-block .circle span {
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: 0.25rem; }
  .result-block .result-text {
    margin-left: 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase; }

.overobese .circle {
  color: #FF1200; }
  .overobese .circle img {
    background-color: #FF1200; }

.overobese .result-text {
  color: #FF1200; }

.overobese .bmi-items {
  border-left-color: #FF1200 !important; }

.obese .circle {
  color: #FF6C03; }
  .obese .circle img {
    background-color: #FF6C03; }

.obese .result-text {
  color: #FF6C03; }

.obese .bmi-items {
  border-left-color: #FF6C03 !important; }

.overweight .circle {
  color: #FF982D; }
  .overweight .circle img {
    background-color: #FF982D; }

.overweight .result-text {
  color: #FF982D; }

.overweight .bmi-items {
  border-left-color: #FF982D !important; }

.healthy .circle {
  color: #86D73F; }
  .healthy .circle img {
    background-color: #86D73F; }

.healthy .result-text {
  background-color: #86D73F; }

.healthy .bmi-items {
  border-left-color: #86D73F !important; }

.underweight .circle {
  color: #31BAF9; }
  .underweight .circle img {
    background-color: #31BAF9; }

.underweight .result-text {
  background-color: #31BAF9; }

.underweight .bmi-items {
  border-left-color: #31BAF9 !important; }

.content {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .content .bmi-history h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center; }
  .content .bmi-history .bmi-list {
    margin-top: 1.5rem; }
    .content .bmi-history .bmi-list > li {
      margin-bottom: 1rem;
      position: relative; }
      .content .bmi-history .bmi-list > li .bmi-items {
        border-left: 7px solid;
        padding: 1rem 2rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
        .content .bmi-history .bmi-list > li .bmi-items li {
          font-size: 1rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 1.1rem;
          width: 150px; }
          .content .bmi-history .bmi-list > li .bmi-items li span {
            font-size: 0.7rem;
            margin-right: 0.2rem; }
            .content .bmi-history .bmi-list > li .bmi-items li span:nth-child(2) {
              text-transform: lowercase;
              font-size: 1.1rem;
              margin-left: 0.1rem; }

.footer {
  position: fixed;
  width: 1024px;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  background-color: #FFD366; }

.deleteData {
  position: absolute;
  right: 10px;
  top: 12px; }
