$main-color: #424242;
$second-color: #FFD366;
$light-color: #E3EFF3;
$underweight-color: #31BAF9;
$healthy-color: #86D73F;
$overweight-color: #FF982D;
$obese-color: #FF6C03;
$overobese-color: #FF1200;
