@import 'colors';
@import 'cssreset';
body {
  background-color: $light-color;
  font-family: sans-serif;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  .bmi-header {
    background-color: $main-color;
    color: $second-color;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    .col {
      width: 270px;
      .bmi-image {
        margin-top: 1rem;
        margin-left: 4rem;
      }
      label {
        display: block;
        margin: 0.5rem 0;
      }
      input {
        border: 2px solid $second-color;
        border-radius: 5px;
        width: 200px;
        height: 25px;
        background: #646464;
        font-size: 1rem;
        color: white;
      }
      .height-group {
        input {
          width: 90px;
        }
      }
      .btn-get-bmi{
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $second-color;
        color: $main-color;
        font-weight: bold;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 1px solid $light-color;
        text-transform: uppercase;
        &:hover{
          border: 3px solid $light-color;
        }
        &:focus {
          background-color: #fc7c32;
          outline: 0;
        }
      }
      .bmi-result {
        margin-left: 2rem;
      }
    }
  }
}

.result-block{
  display: flex;
  align-items: center;
  color: $light-color;
  .circle {
    margin-top: 1.2rem;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 1.5rem;
    border: 5px solid;
    color: $light-color;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      position: absolute;
      background-color: $light-color;
      border-radius: 100%;
      top: 70px;
      left: 77px;
      width: 15px;
      height: 15px;
      padding: 5px;
      border: 1.5px solid $main-color;
    }
    span {
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: 0.25rem;
    }
  }
  .result-text {
    margin-left: 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.overobese{
  .circle{
    color: $overobese-color;
    img {
      background-color: $overobese-color;
    }
  }
  .result-text{
    color: $overobese-color
  }
  .bmi-items {
    border-left-color: $overobese-color !important;
  }
}
.obese{
  .circle{
    color: $obese-color ;
    img {
      background-color: $obese-color;
    }
  }
  .result-text{
    color: $obese-color;
  }
  .bmi-items {
    border-left-color: $obese-color !important;
  }
}
.overweight{
  .circle{
    color: $overweight-color ;
    img {
      background-color: $overweight-color;
    }
  }
  .result-text{
    color: $overweight-color;
  }
  .bmi-items {
    border-left-color: $overweight-color !important;
  }
}
.healthy{
  .circle{
    color: $healthy-color ;
    img {
      background-color: $healthy-color;
    }
  }
  .result-text{
    background-color: $healthy-color;
  }
  .bmi-items {
    border-left-color: $healthy-color !important;
  }
}
.underweight{
  .circle{
    color: $underweight-color ;
    img {
      background-color: $underweight-color;
    }
  }
  .result-text{
    background-color: $underweight-color;
  }
  .bmi-items {
    border-left-color: $underweight-color !important;
  }
}

.content {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  .bmi-history{
    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
    }
    .bmi-list {
      margin-top: 1.5rem;
      >li {
        margin-bottom: 1rem;
        position: relative;
        .bmi-items{
          border-left: 7px solid;
          padding: 1rem 2rem;
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
          li {
            font-size: 1rem;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-size: 1.1rem;
            width: 150px;
            span{
              font-size: 0.7rem;
              margin-right: 0.2rem;
              &:nth-child(2){
                text-transform: lowercase;
                font-size: 1.1rem;
                margin-left: 0.1rem;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: bold;
  background-color: $second-color;
}


// Delete BMI list

.deleteData{
  position: absolute;
  right: 10px;
  top: 12px;
}
